<footer class="footer py-3">
	<div class="container">
		<div class="row">
			<div class="col">
				<h3>This is our footer</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet at corporis distinctio ducimus harum, inventore officia placeat quos repudiandae sed soluta sunt temporibus? Cupiditate dignissimos ex itaque labore odio quia voluptatem! Aliquam aliquid deserunt doloremque dolores eaque excepturi illum ipsa libero quas suscipit, tempore unde ut veritatis vero voluptas.</p>
			</div>
		</div>
	</div>
</footer>